a {
  text-decoration: none;
  color: #3C3C3C;
}

body {
  margin: 0;
  padding: 0;
  display: grid;
  grid-template-columns: 20% 80%;
  grid-template-rows: 100vh;
  max-height: 100vh;
  color: #3C3C3C;
  font-family: Helvetica, sans-serif;
}

.navigation {
  background-color: #FFEF00;
  display: grid;
  grid-template-rows: auto auto 1fr;
  z-index: 4;
}

.navigation--folder {
  background-color: #FFEF00;
  display: grid;
  grid-template-rows: auto 1fr;
  z-index: 4;
}

.navigation__link {
  font-size: 2.5rem;
  font-weight: bold;
  padding: 2rem;
}

.navigation__title {
  font-size: 2.5rem;
  -webkit-hyphens: auto;
      -ms-hyphens: auto;
          hyphens: auto;
  place-self: end;
  justify-self: left;
  padding: 2rem;
}

.navigation__title--bold {
  font-weight: bold;
}

.navigation-folder {
  background-color: #FFEF00;
  display: grid;
  grid-template-rows: auto auto 1fr;
  z-index: 4;
}

.search-form {
  display: grid;
  grid-row-gap: 1rem;
  padding: 2rem;
}

.search-form__input {
  background-color: #FFEF00;
  font-size: 2.5rem;
  overflow: hidden;
  color: #3C3C3C;
  border: none;
  border-bottom: 0.5rem solid #3C3C3C;
}

.search-form__input:focus {
  outline: none;
}

.search-form__submit {
  background-color: Transparent;
  padding: 0;
  border: none;
  font-size: 2.5rem;
  text-align: left;
  color: #3C3C3C;
  cursor: pointer;
}

.search-form__submit:focus {
  outline: none;
}

.search-form__reset {
  font-size: 2.5rem;
  font-weight: bold;
}

.filemanager_container {
  background-color: #FFFFFF;
  display: grid;
  grid-template-rows: auto 1fr;
  max-height: 100vh;
}

.folder_form {
  background-color: #1BB578;
  padding: 2rem;
  display: grid;
  grid-template-columns: 1fr auto;
  grid-column-gap: 2rem;
}

.folder_form__input {
  background-color: #1BB578;
  font-size: 2.5rem;
  font-weight: bold;
  color: #3C3C3C;
  border: none;
  border-bottom: 0.5rem solid #3C3C3C;
}

.folder_form__input:focus {
  outline: none;
}

.folder_form__button {
  background-color: Transparent;
  margin-bottom: 0.5rem;
  border: none;
  font-size: 2.5rem;
  font-weight: bold;
  color: #3C3C3C;
  cursor: pointer;
}

.folder_form__button:focus {
  outline: none;
}

.folder_list {
  background-color: #1E739C;
  overflow: scroll;
}

.list_item {
  display: grid;
  grid-template-columns: 7fr 1fr;
  grid-column-gap: 2rem;
  padding: 2rem;
  font-size: 2.5rem;
  color: #FFFFFF;
}

.list_item:nth-child(even) {
  background-color: #1C698E;
}

.list_item:hover {
  background-color: #195F80;
}

.list_item__title {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.list_item__count {
  text-align: right;
  font-weight: bold;
}

