// Body
$body-bg: #f5f8fa

// Colors
$dark: #3C3C3C
$light: #FFFFFF

$color-list: #1E739C
$color-list-dark: #1C698E
$color-list-darker: #195F80
$color-input: #1BB578
$color-navigation: #FFEF00

// Typography
$font-family-sans-serif: Helvetica, sans-serif
$font-size-small: 1rem
$font-size-medium: 2.5rem
$font-size-big: 4.5rem
